<div class="wrapper-page-new-quote">
  <div class="container">
    <div class="row background-form">
      <h1 class="text-center">Finalisez la transaction</h1><br>
      <div class="col-xs-12 col-sm-6 text-center">
        <i class="fa fa-file-text-o"></i>
        <h3>Contrat d'assurance</h3>
        <%= link_to "Télécharger", "#" %>
      </div>
      <div class="col-xs-12 col-sm-6 text-center">
        <i class="fa fa-credit-card"></i>
        <h3>Autorisation de prélèvement</h3>
        <%= link_to "Télécharger", "#" %>
      </div>
      <div class="text-center">
        <%= link_to "Signer vos documents", insured_path(current_user), class: "btn default-button" %>
      </div>
    </div><br><br><br>


  </div>
</div>
