/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Raleway:400,100,300,700,500");
$base-font: "Lato", "Helvetica", "sans-serif";
$header-font: "Lato", "Helvetica", "sans-serif";

// Local fonts (uncomment following lines)
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

// Font-size and line-height
$base-size: 16px;
$base-height: 24px;
$h1-size: 48px;
$h1-height: 64px;
$h2-size: 28px;
$h2-height: 44px;


/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Scheme
$brand-color: #E87E00;

$blue: #1DA1F2;
$yellow: #FDB631;
$orange: #E87E00;
$green: #26A65B;
$gray: #717171;
$red: #96281B;

$primary-color: $brand-color;
$hover-color: lighten(#E87E00, 20%);
$gray-background: #F4F4F4;
