/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
.wrapper-home-connected {
  background-color: $gray;
  //height: 100vh;
}

h2 {
  font-size: 28px;
}

.banner {
  color: white;
  text-align: center;
  height: 80vh;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  padding-top: 100px;
  padding-bottom: 10px;
}
.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.8);
  padding-bottom: 20px;
}
.banner .btn {
  font-size: 28px;
}
.btn-homega {
  color: white;
  padding: 10px 20px;
  border-radius: 7px;
  font-size: 20px;
  background: $brand-color;
  transition: background 0.3s ease;
}
.btn-homega:hover {
  opacity: 1;
  background: lighten($brand-color, 20%);
  text-decoration: none;
  color: white;
}

.hidden {
  display: none;
}

a.nav-link:link
{
   color: #fb3f00;
   text-decoration: none;
}

.image-size {
  max-width: 200px;
  max-height: 100px;
}

.card {
  height: 300px;
  padding-right: 20px;
  padding-left: 20px;
  text-align: center;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
}

.card-grey {
  background: $gray-background;
  border-radius: 5px;
}

.title {
  text-align: text-center;
}

.button {
  padding-top: 30px;
  padding-bottom: 30px;
}



// NEW CSS

.wrapper-home {
  background-color:white;
}


.container-home {
  width: 90%;
  margin: auto;
  padding: 40px 0 40px 0;
}

.homega-orange {
  color: $brand-color;
}

.symbols {
  padding: 10px;
}

.homega-orange-bigger {
  font-size: 80px !important;
  transition: ease 0.3s;
}

.symbols:hover {
  border: 1px solid $brand-color;
  border-radius: 5px;
  padding: 10px;
}

.features {
  padding-top: 10px;
}

.features img {
  width: 100px;
  height: 100px;
}

.features h2 {
  font-size: 20px;
  margin-bottom: 10px;
}
.features p {
  font-size: 15px;
  font-weight: lighter;
}


.title-omega {
  //padding-right: 585px;

}

.title-omega-signin {
  //padding-right: 808px;
}

.display-none {
  display: none;
}
