.conversational-form {
  box-shadow: 1px 1px 3px #CCCCCC;
  border-radius: 5px;
  width: 600px !important;
  height: 80vh !important;
}

text {
  color: black; //#9C9C9C;
}

f-input input {
  color: black;
}


