.hamon {
  font-size: 12px;
  padding-top: 5px;
}

.right p, h2 {
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 25px;
}

.title-left {
  font-size: 20px;
}

.btn-orange {
  display: inline-block;
  margin-bottom: 0;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 1.42857143;
  border-radius: 2px;
  background-color: $brand-color;
}
