<body>
    <div class="banner" style="background: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path('banner.jpg') %>');">
      <div class="banner-content">
        <h1>HOMEGA</h1>
        <p>La première assurance incluant la gestion des sinistres sans avance de frais et 100% en ligne</p>
        <a class="btn-treehouse btn-lg">Inscrivez-vous</a>
      </div>
    </div>






</body>


<% if signed_in? %>
  <%= link_to "Create a place", new_place_path %> | <%= link_to "Declare a damage", new_damage_path %>
<% end %>
