.default-button {
  margin-left: 10px;
  padding: 10px 15px;
  border-radius: 10px;
  background-color: $brand-color;
  color: white;
  display: inline-block;

 &:hover {
  box-shadow: 0 5px 13px 0 rgba(0, 0, 0, 0.25)
 }
}

.default-button-sm {
  margin-left: 10px;
  padding: 10px 10px;
  border-radius: 7px;
  background-color: $brand-color;
  color: white;
  font-size: 15px;
}


