.call-to-action {
  padding: 30px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #c6c6c6;
  text-decoration: none !important;
}

.call-to-action:hover {
  box-shadow: 1px 1px #afafaf;
}
