.radio-inline {
  padding-left: 30px;
}

.container .h-homega {
  color: $primary-color;
}

.header-homega {
  text-align: center;
  border-bottom: 2px solid $brand-color;
  font-size: $h1-size;
  padding-bottom: 5px;
}

.cat-info h2 {
  font-size: $h2-size;
  padding-bottom: 5px;
}

body { background: #ccc; }
*,*:before,*:after {
  box-sizing: border-box;
}